.movies__text {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 79px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
